<ion-header>
  <ion-toolbar class="tolbar">
    <ion-title class="title">Info</ion-title>

    <ion-buttons slot="start">
    		<ion-button (click)="goToAboutPage()">
    		<ion-icon name="arrow-back" class="icon"></ion-icon>
			</ion-button>
		</ion-buttons>
		
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<ion-row>
		<h4 class="label">CosPhi</h4>
		<ion-row>
	          	<img src="../../assets/icon/cosphi.jpg" alt="img" height="180" width="280" class="img">
	    </ion-row>
	    <p class="p1">Cosphi adalah nilai Perbandingan antara besarnya daya aktif dengan besaran daya semu</p>

		<p class="p1">Kebanyakan beban industri membutuhkan daya aktif dan daya reaktif untuk bekerja maksimal. Dan kedua daya tersebut harus dibayar, bukan hanya daya aktif saja. Tapi juga daya reaktif. Agar bisa berhemat, maka daya reaktif tidak perlu mengambil dari PLN, melainkan cukup daya aktif saja yang perlu dibeli/dibayar. Caranya, dengan menyediakan kapasitor bank.</p>

		<p class="p1">Kebanyakan beban adalah bersifat induktif, dan pasti membutuhkan medan magnet untuk bisa bekerja. Contoh : motor, trafo, lampu florescent. Medan magnet pasti dibutuhkan, tapi dengan ini saja tanpa adanya daya aktif, maka peralatan juga tidak mungkin bisa bekerja. Oleh karena itu pembangkit harus menyuplai daya untuk menghasilkan medan magnet dan daya untuk memproduksi kerja. Daya untuk menghasilkan medan magnet dinamakan daya reaktif (Q) dan daya untuk memproduksi kerja disebut daya aktif (P). Keduanya sama-sama harus dibayar.</p>

		<p class="p1">Apa Pengaruh PF baik dan PF buruk? Suatu beban dengan pf 1 menghasilkan kondisi paling effisien dari supply beban. Dan suatu beban dengan pf <1 akan menghasilkan losses yang lebih besar dalam sistem supply sehingga sistem menjadi tidak effisien. Pf yang rendah dihasilkan oleh perbedaan phase yang signifikan antara tegangan dan arus pada terminal beban atau ini bisa pula disebabkan oleh kandungan harmonisa yang tinggi atau berupa bentuk gelombang arus yang terdistorsi.</p>

		<p class="p1">Apa Penyebab PF Buruk ? Cos pi yang buruk disebabkan oleh beban induktif antara lain: motor induksi, trafo daya, lampu ballast, las, furnace induksi. Sedangkan bentuk gelombang arus yang terdistorsi seringkali dihasilkan oleh beban-beban seperti rectifier, variable speed drive, switched mode power supply, discharge lighting dan beban elektronic lainnya.</p>
		
	</ion-row>
</ion-content>
