<ion-header>
  <ion-toolbar class="tolbar">
    <ion-title class="title">Info</ion-title>

    <ion-buttons slot="start">
    		<ion-button (click)="goToAboutPage()">
    		<ion-icon name="arrow-back" class="icon"></ion-icon>
			</ion-button>
		</ion-buttons>
		
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-row>
		<h4 class="label">Tegangan AC</h4>
		<ion-row>
	          	<img src="../../assets/icon/tegangan.png" alt="img" height="180" width="280" class="img">
	    </ion-row>
	    <p class="p1">Adalah tegangan dengan aliran arus bolak-balik. Tegangan AC tidak memiliki notasi/tanda seperti tegangan DC. Oleh karena itu pemasangan tegangan AC pada rangkaian boleh terbalik kecuali untuk aplikasi tegangan AC 3 phase pada motor listrik. Sumber-sumber tegangan AC diantaranya adalah listrik rumah tangga (dari PLN), genset, dinamo sepeda dan altenator pada mobil atau sepeda motor.</p>

		<p class="p1">Ada dua jenis tegangan AC yaitu single phase dan triple phase atau 3 phase. Tegangan listrik AC yang kita pakai sehari-hari merupakan jenis tegangan AC single phase, artinya hanya ada satu phase dan ground/netral. Oleh karena itu tegangan AC single phase hanya membutuhkan dua titik kabel koneksi.</p>

		
		<p class="p1">Tegangan AC 3 phase membuthkan tiga kabel untuk bekerja, yaitu dikenal dengan istilah R, S dan T. Tegangan listrik 3 phase banyak dipakai pada dunia industri khususnya untuk menggerakkan motor listrik. Jika kita membutuhkan tegangan AC 3 phase namun hanya memiliki sumber tegangan AC single phase maka kita memerlukan sebuah inverter untuk membuat listrik single phase menjadi 3 phase.</p>
	</ion-row>
</ion-content>
