<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title class="title">Tegangan</ion-title>

    <ion-buttons slot="start">
       <ion-menu-button menu="main-menu" class="icon"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>

	<section>
      <ion-button  class="butonr" size="small" expand="block" (click)="goToTeganganRPage()">R</ion-button>
    </section>

    <section>
	  <ion-button  class="butons" size="small" expand="block" (click)="goToTeganganSPage()">s</ion-button>
	 </section>
	 <section>
	  <ion-button  class="butont" size="small" expand="block" (click)="goToTeganganTPage()">T</ion-button>	
	 </section>

</ion-content>
