ion-content{
  --ion-background-color: #9FA8DA;
}
.toolbar{
  --background: #023273;
}
.butonr{
 --background: #F71308;
  margin-top: 150px;
  margin-bottom: 30px;
}
.butons{
 --background: #F5F901;
 margin-bottom: 30px;
}
.butont{
 --background: #000000;
}
.icon{
	--color: #FFFFFF;
}
.title{
	--color: #FFFFFF;
}