<ion-header>
  <ion-toolbar class="tolbar">
    <ion-title class="title">Info</ion-title>

     <ion-buttons slot="start">
    		<ion-button (click)="goToAboutPage()">
    		<ion-icon name="arrow-back" class="icon"></ion-icon>
			</ion-button>
		</ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<ion-row>
		<h4 class="label">Arus AC</h4>
		<ion-row>
	          	<img src="../../assets/icon/daya.jpg" alt="img" height="180" width="280" class="img">
	    </ion-row>

	    <h4 class="label">Daya Aktif</h4>
	    <p class="p1">Arus bolak-balik merupakan arus yang arah dan besarnya setiap saat berubah-rubah. Arus bolak-balik dalam dunia kelistrikan banyak digunakan.</p>

		<p class="p1">Daya aktif adalah daya yang sesungguhnya dibutuhkan oleh beban. Satuan daya aktif adalah W (Watt) dan dapat diukur dengan menggunakan alat ukur listrik Wattmeter. Daya Aktif pada beban yang bersifat resistansi (R), dimana tidak mengandung induktor grafik gelombang tegangan (V) dan arus se fasa, sehingga besar daya sebagai perkalian tegangan dan arus menghasilkan dua gelombang yang keduanya bernilai positif. besarnya daya aktif adalah P. Sisa puncak dibagi menjadi dua untuk mengisi celah-celah kosong sehingga kedua rongga terisi oleh dua puncak yang mengisinya. </p>

		<h4 class="label">Daya Reaktif</h4>
		<p class="p1">Daya reaktif adalah daya yang dibutuhkan untuk pembentukan medan magnet atau daya yang ditimbulkan oleh beban yang bersifat induktif.  Satuan daya reaktif adalah VAR (Volt.Amper Reaktif). Untuk menghemat daya reaktif dapat dilakukan dengan memasang kapasitor pada rangkaian yang memiliki beban bersifat induktif. Hal serupa sering dilakukan pada pabrik-pabrik yang mengunakan motor banyak menggunakan beban berupa motor-motor listrik.</p>

		<h4 class="label">Daya Semu</h4>
		<p class="p1">Daya semu adalah daya yang dihasilkan dari perkalian tegangan dan arus listrik. Daya nyata merupakan daya yang diberikan oleh PLN kepada konsumen. Satuan daya nyata adalah VA (Volt.Ampere). 
		Beban yang bersifat daya semu adalah beban yang bersifat resistansi (R), contoh : lampu pijar, setrika listrik, kompor listrik dan lain sebagainya. Peralatan listrik atau beban pada rangkaian listrik yang bersifat resistansi tidak dapat dihemat karena tegangan dan arus listrik se fasa perbedaan sudut fasa adalah 0o dan  memiliki nilai faktor daya adalah 1</p>
		
	</ion-row>
</ion-content>
