.tolbar{
	--background: #6200EE;
}
.title{
	--color: #FFFFFF;
}
.icon{
	color : #FFFFFF;
}
.label{
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	margin-left: 10px;
}
.img{
	margin-left: 10px;
}
.p1{
	font-size: 14px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: justify;
}