<ion-header>
  <ion-toolbar class="bar">
    <ion-title>Kontrol</ion-title>

     <ion-buttons slot="start">
       <ion-menu-button menu="main-menu" class="icon"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>

	<ion-list>
		<ion-item>
			<ion-label>
				Sensor Tegangan
			</ion-label>
				<ion-toggle [ngModel]="relais_1 | async" (ngModelChange)="changeRelais_1($event)"></ion-toggle>
		</ion-item>
		<ion-item>
			<ion-label>
				Sensor Arus
			</ion-label>
				<ion-toggle color="primary"></ion-toggle>
		</ion-item>
	</ion-list>

</ion-content>
