<ion-content>

  <div class="center">
    <h1>Login</h1>
    <img src="../../assets/icon/Smkglagah.jpg" alt="img" height="90" width="90">
      <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">

        <ion-list>
          <ion-item>
            <ion-label position="stacked"> Email </ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>
      <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        
          <ion-item>
            <ion-label position="stacked"> Password</ion-label>
            <ion-input type="Password" formControlName="password" class="form-controll" required></ion-input>
          </ion-item>
            <div class="validation_errors">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

          <p color="primary" class="go-to-register" (click)="goToRegisterPage()"> No Have Account ?</p>

          <ion-button class="submit-btn" type="submit" expand="block" shape="round" color="primary" [disabled]="!validations_form.valid"> Login</ion-button>
          <label class="error-message">{{errorMessage}}</label>

        </ion-list>
      </form>
  </div>
</ion-content>