.center{
	text-align:center;
	margin-top: 100px;
	margin-bottom: 50px; 
}
ion-button{
	width: 90%;
	margin-left: 15px;
}

ion-content{
	--background: #fff url('../../assets/icon/bg.jpg') no-repeat center center / cover;
}