<ion-app>
    <ion-menu  menuId="main-menu" contentId="main">
      <ion-content fullscreen>
        <ion-row>
          <img src="../../assets/icon/stmglagah.jpg" alt="img" height="180" width="300">
        </ion-row>

        <div class="scroll" no-bounce></div>

        <ion-menu-toggle>
          <ion-item routerLink="/dashboard" lines="none">
            <ion-icon name="home" slot="start" class="icon-beranda"></ion-icon>
              <ion-label class="label-beranda">Beranda</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/arus" lines="none">
            <ion-icon name="bar-chart" slot="start" class="icon-arus"></ion-icon>
              <ion-label class="label-arus">Monitoring Arus</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/tegangan" lines="none">
            <ion-icon name="bar-chart" slot="start"class="icon-tegangan"></ion-icon>
              <ion-label class="label-tegangan">Monitoring Tegangan</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/cosphi" lines="none">
            <ion-icon name="bar-chart" slot="start" class="icon-cosphi"></ion-icon>
              <ion-label class="label-cosphi">Monitoring CosPhi</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/daya" lines="none">
            <ion-icon name="bar-chart" slot="start" class="icon-daya"></ion-icon>
              <ion-label class="label-daya">Monitoring Daya</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/kontrolsensor" lines="none">
            <ion-icon name="settings" slot="start" class="icon-kontrol"></ion-icon>
              <ion-label class="label-kontrol">Kontrol Sensor</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/rekapitulasi" lines="none">
            <ion-icon name="documents" slot="start" class="icon-rekap"></ion-icon>
              <ion-label class="label-rekap">Rekap Data</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/logout" lines="none">
            <ion-icon name="exit" slot="start" class="icon-keluar"></ion-icon>
              <ion-label class="label-keluar">Keluar</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  
</ion-app>
