.beranda{
	--ionicon-stroke-width: 32px;
	color: #6200EE;
}
.b{
	--color: #6200EE;
}

.a{
	--ionicon-stroke-width: 32px;
	color: #212121;
}
.ar{
	--color: #212121;
}


.t{
	--ionicon-stroke-width: 32px;
	color: #023273;
}
.te{
	--color: #023273;
}

.d{
	--ionicon-stroke-width: 32px;
	color: #9C27B0;
}
.sor{
	--color:  #9C27B0;
}

.k{
	--ionicon-stroke-width: 32px;
	color: #18FFFF;
}
.sen{
	--color: #18FFFF;
}