.icon-beranda{
	--ionicon-stroke-width: 32px;
	color: #6200EE;
	font-size: 14px;
}
.label-beranda{
	--color: #6200EE;
	font-size: 12px;
}

.icon-arus{
	--ionicon-stroke-width: 32px;
	color:  #6200EE;
	font-size: 14px;
	
}
.label-arus{
	--color:  #6200EE;
	font-size: 12px;
	
}
.icon-tegangan{
	--ionicon-stroke-width: 32px;
	color:  #6200EE;
	font-size: 14px;
}
.label-tegangan{
	--color:  #6200EE;
	font-size: 12px;
}
.icon-cosphi{
	--ionicon-stroke-width: 32px;
	font-size: 14px;
	color: #6200EE;
}
.label-cosphi{
	font-size: 12px;
	--color:  #6200EE;
}

.icon-daya{
	--ionicon-stroke-width: 32px;
	color:  #6200EE;
	font-size: 14px;
}
.label-daya{
	--color:   #6200EE;
	font-size: 12px;
}

.icon-kontrol{
	--ionicon-stroke-width: 32px;
	color:  #6200EE;
	font-size: 14px;
}
.label-kontrol{
	--color:  #6200EE;
	font-size: 12px;
}

.icon-rekap{
	--ionicon-stroke-width: 32px;
	font-size: 14px;
	color: #6200EE;
}
.label-rekap{
	font-size: 12px;
	--color:  #6200EE;
}
.icon-keluar{
	--ionicon-stroke-width: 32px;
	font-size: 14px;
	color: #6200EE;
}
.label-keluar{
	font-size: 12px;
	--color:  #6200EE;
}
