.beranda{
	--ionicon-stroke-width: 32px;
	color: #6200EE;
	font-size: 14px;
}
.b{
	--color: #6200EE;
	font-size: 12px;
}

.a{
	--ionicon-stroke-width: 32px;
	color: #212121;
	font-size: 14px;
	
}
.ar{
	--color: #212121;
	font-size: 12px;
	
}


.t{
	--ionicon-stroke-width: 32px;
	color: #023273;
	font-size: 14px;
}
.te{
	--color: #023273;
	font-size: 12px;
}

.d{
	--ionicon-stroke-width: 32px;
	color: #9C27B0;
	font-size: 14px;
}
.sor{
	--color:  #9C27B0;
	font-size: 12px;
}

.k{
	--ionicon-stroke-width: 32px;
	color: #18FFFF;
	font-size: 14px;
}
.sen{
	--color: #18FFFF;
	font-size: 12px;
}
.cos{
	font-size: 14px;
}
.phi{
	font-size: 12px;
}
.rekap{
	font-size: 14px;
}
.data{
	font-size: 12px;
}
.ke{
	font-size: 14px;
}
.luar{
	font-size: 12px;
}
