<ion-header>
  <ion-toolbar class="bar">
    <ion-title class="title">Rekapitulasi</ion-title>

    <ion-buttons slot="start">
       <ion-menu-button menu="main-menu" class="icon"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>Pilih Tanggal</ion-label>
      <ion-datetime displayFormat="DD / MM / YYYY" min="2015" max="2030"></ion-datetime>
    </ion-item>
</ion-card>

<ion-button click="Download()">Download
  </ion-button>
    
</ion-content>
