<ion-header>
  <ion-toolbar class="bar">
    <ion-title class="title">Rekapitulasi</ion-title>

    <ion-buttons slot="start">
       <ion-menu-button menu="main-menu" class="icon"></ion-menu-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
 
    <h4 class="dari">Dari</h4>
      <ion-card>
        <ion-input type="date" [(ngModel)]="start"></ion-input>
      </ion-card>

    <h4 class="dari">Sampai</h4>
    <ion-card>
      <ion-input type="date" [(ngModel)]="end"></ion-input>
    </ion-card>
 
    <ion-button (click)="downloadRekap()">Download Rekap</ion-button>
   
</ion-content>
