.toolbar{
  --background:  #6200EE;
}
.buttonr{
 --background: #F71308;
  margin-top: 120px;
  margin-left: 55px;
  width: 60%;
}
.buttons{
 --background: #F5F901;
 margin-top: 20px;
 margin-left: 55px;
  width: 60%;
}
.buttont{
 --background: #000000;
 margin-top: 20px;
 margin-left: 55px;
  width: 60%;
}
.icon{
	--color: #FFFFFF;
}
.title{
	--color: #FFFFFF;
}
ion-content{
	--ion-background-color: #9575CD;
}