.toolbar{
  --background: #212121;
}
.buttonr{
 --background: #F71308;
  margin-top: 150px;
  margin-bottom: 30px;
}
.buttons{
 --background: #F5F901;
 margin-bottom: 30px;
}
.buttont{
 --background: #000000;
}
.icon{
	--color: #FFFFFF;
}
.title{
	--color: #FFFFFF;
}
ion-content{
	--ion-background-color: #E0E0E0;
}