<ion-header>
  <ion-toolbar class="toolbar">
      <ion-title class="title">Arus</ion-title>

      <ion-buttons slot="start">
       <ion-menu-button menu="main-menu" class="icon"></ion-menu-button>
    </ion-buttons>
    
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
	
	<section>
		<ion-button  class="buttonr" size="small" expand="block" (click)="goToArusRPage()">R</ion-button>
	</section>
	<section>
		<ion-button  class="buttons" size="small" expand="block" (click)="goToArusSPage()">s</ion-button>
	</section>
	<section>
		<ion-button  class="buttont" size="small" expand="block" (click)="goToArusTPage()">T</ion-button>	
	</section>

</ion-content>
