.toolbar{
	--background: #6200EE;
}
.huruf{
	--color: #FFFFFF;
	font-weight: bold;
}
.icon{
	--color: #FFFFFF;
}
.rata{
	text-align: center;
}
ion-card-title{
	color: #6200EE;
	font-weight: bold;
}
ion-card-content{
	color: #6200EE;
}
ion-card-subtitle{
	color: #6200EE;
	font-weight: bold;
	margin-top: 15px;
	margin-left: 15px;
}