<ion-header>
  <ion-toolbar class="tolbar">
    <ion-title class="title">Info</ion-title>

    <ion-buttons slot="start">
    		<ion-button (click)="goToAboutPage()">
    		<ion-icon name="arrow-back" class="icon"></ion-icon>
			</ion-button>
		</ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
	<ion-row>
		<h4 class="label">Arus AC</h4>
		<ion-row>
	          	<img src="../../assets/icon/ArusAC.jpg" alt="img" height="180" width="280" class="img">
	    </ion-row>
	    <p class="p1">Arus bolak-balik merupakan arus yang arah dan besarnya setiap saat berubah-rubah. Arus bolak-balik dalam dunia kelistrikan banyak digunakan.</p>

		<p class="p1">Arus bolak-balik selalu mempunyai nilai puncak gelombang atas dan puncak gelombang bawah. Dalam peristiwa mencapainya nilai puncak gelombang atas dan puncak gelombang bawah maka dikatakan telah mencapai satu (1) gelombang penuh. Nilai puncak gelombang atas dan puncak gelombang bawah sering pula disebut nilai dari puncak ke puncak ( nilai peak to peak ). Gaambar di bawah ini menunjukkan gelombang tegangan bolak-balik sinusoidal.</p>

		<h4 class="label">Kelebihan</h4>
		<p class="p1">Arus Listrik AC biasanya dipergunakan untuk menyalurkan listrik menuju tempat yang jauh dikarenakan arus AC memiliki kerugian yang lebih kecil dibandingkan arus DC. Listrik disalurkan menggunakan voltage yang tinggi yang sudah di step up dari trafo sehingga menjadi pilihan yang tepat untuk menyalurkan listrik menuju ketempat yang jauh sehingga berbeda dengan arus DC.</p>

		<p class="p1">Arus AC sangat mudah untuk didapatkan hanya dengan menggunakan generator sedangkan untuk arus DC sulit.</p>

		<h4 class="label">Kekurangan</h4>
		<p class="p1">Arus AC sangat mudah untuk didapatkan hanya dengan menggunakan generator sedangkan untuk arus DC sulit.</p>
		
	</ion-row>
</ion-content>
